<?xml version="1.0"?>



<configuration>

  <connectionStrings>
    <add name="sqlCon1" connectionString="Data Source=W10FQNF3X2\SQLEXPRESS; Initial Catalog = Database; Integrated Security = True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>


</configuration>
